@charset "UTF-8";
.intro {
  background: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%), url("../../../img/back-top.png") no-repeat;
  background-repeat: no-repeat;
  min-height: 840px;
  background-size: cover;
  overflow: hidden;
}
.intro__content {
  position: relative;
  display: flex;
  justify-content: flex-start;
  gap: 73px;
  padding-top: 61px;
}

@media (max-width: 620px) {
  .intro {
    min-height: 630px;
  }
}
@media (max-width: 768px) {
  .intro__content {
    padding-top: 31px;
  }
}
@media (max-width: 620px) {
  .header {
    margin-top: 12px;
  }
  .intro__content {
    padding-top: 25px;
  }
}
.intro-title {
  font-size: 70px;
  line-height: 90px;
  font-weight: 800;
  color: #282828;
  text-transform: uppercase;
}

.intro-title::before {
  content: "Автомобили под заказ";
}

@media (max-width: 768px) {
  .intro-title {
    line-height: 56px;
  }
  .intro-title::before {
    content: "Авто\aпод заказ";
    white-space: pre;
    font-size: 60px;
  }
}
@media (max-width: 620px) {
  .intro-title {
    line-height: 56px;
  }
  .intro-title::before {
    font-size: 46px;
  }
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.menu-list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 48px;
  list-style: none;
}

@media (max-width: 1200px) {
  .menu-list {
    gap: 28px;
  }
}
.menu__list-link {
  font-size: medium;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}

.phone-btn {
  color: white;
  background-color: #fa002c;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 18px;
  padding: 15px 28px;
  white-space: nowrap;
}
.phone-btn__img {
  width: 20px;
  margin-right: 6px;
}

@media (max-width: 1200px) {
  .header__btn {
    display: none;
  }
}
.carnival {
  content: url("../../../img/carnival.png");
  position: absolute;
  overflow: hidden;
  top: 230px;
  left: 540px;
  z-index: 2;
}

@media (max-width: 1200px) {
  .carnival {
    display: none;
  }
}
.application-processing {
  padding: 52px 58px 32px 58px;
  background-color: rgba(255, 255, 255, 0.64);
  border-radius: 24px;
  border: 1px solid #fff;
  box-sizing: border-box;
  max-width: 709px;
}
.application-processing__description {
  padding: 39px 0 41px 0;
}

@media (max-width: 768px) {
  .application-processing {
    padding: 32px 38px 22px 38px;
  }
  .application-processing__description {
    padding: 30px 0 30px 0;
  }
}
@media (max-width: 620px) {
  .application-processing {
    all: unset;
  }
}
.application-processing-list__item {
  margin-bottom: 13px;
  font-weight: 600;
  font-size: 26px;
  line-height: 36px;
  padding-left: 10px;
}
.application-processing-list__item:before {
  content: url("../../../img/check.svg");
  margin-right: 16px;
}
.application-processing-list__item:first-child::after {
  content: url("../../../img/flag.png");
  position: relative;
  top: 5px;
  left: 12px;
}

@media (max-width: 620px) {
  .application-processing-list__item {
    margin-bottom: 0;
    font-size: 18px;
  }
}
.contact-buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}
.contact-buttons__get-consult-btn {
  padding: 27px 42px;
  color: white;
  background-color: #fa002c;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 18px;
}
.contact-buttons__wrap {
  display: flex;
  gap: 10px;
}

@media (max-width: 800px) {
  .contact-buttons {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (max-width: 620px) {
  .contact-buttons__get-consult-btn {
    padding: 23px 50px;
  }
}
.social-network-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 2px rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  width: 80px;
  height: 80px;
}
.social-network-btn__img {
  display: block;
}

@media (max-width: 620px) {
  .social-network-btn {
    width: 72px;
    height: 72px;
    background: rgba(255, 255, 255, 0.3);
    border: 2px solid #ffffff;
  }
}
.preview {
  z-index: 3;
  padding-top: 134px;
}

@media (max-width: 1024px) {
  .preview {
    display: none;
  }
}
.play-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  max-width: min-content;
  padding: 51px 43px 21px;
  border-radius: 24px;
  border: solid 1px rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.3);
}
.play-block__img {
  width: 80px;
  height: auto;
}
.play-block__desc {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  text-align: center;
}

.header__menu-burger {
  position: relative;
  z-index: 50;
  width: 40px;
  height: 35px;
  display: none;
  align-items: center;
  justify-content: flex-end;
}

.header__menu-burger span,
.header__menu-burger:after,
.header__menu-burger:before {
  height: 5px;
  width: 100%;
  position: absolute;
  background: #fa002c;
  margin: 0 auto;
  transform: scale(1);
  transition: all 0.3s ease 0s;
}

.header__menu-burger:after,
.header__menu-burger:before {
  content: "";
}

.header__menu-burger:after {
  bottom: 0;
}

.header__menu-burger:before {
  top: 0;
}

.header__menu-burger--active span {
  transform: scale(0);
}

.header__menu-burger--active::before {
  top: 50%;
  transform: rotate(-45deg) translate(0, -50%);
}

.header__menu-burger--active::after {
  bottom: 50%;
  transform: rotate(45deg) translate(0, 50%);
}

@media (max-width: 1024px) {
  .menu {
    display: flex;
  }
  .header__menu-burger {
    display: flex;
  }
}/*# sourceMappingURL=intro.css.map */