* {
  margin: 0;
  padding: 0;
  color: #000;

  box-sizing: border-box;
}

input[type="text"] {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

a {
  color: black;
  text-decoration: none;
}

.container {
  padding: 0 240px;
  max-width: 1920px;
  margin: 0 auto;
}

.intro {
  background: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%),
    url("../img/back-top.png") no-repeat;
  background-repeat: no-repeat;
  min-height: 840px;
  background-size: cover;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-list {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 48px;
  list-style: none;
}

.menu__link {
  font-family: "Montserrat", sans-serif;
  font-size: medium;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}

.phone-btn {
  color: white;
  background-color: #fa002c;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 18px;
  padding: 15px 28px;
}

.phone-btn__img {
  width: 20px;
  margin-right: 6px;
}

.intro__content {
  position: relative;
  display: flex;
  justify-content: flex-start;
  gap: 73px;
  padding-top: 61px;
}

.intro-title {
  font-family: "Montserrat", sans-serif;
  font-size: 70px;
  line-height: 90px;
  font-weight: 800;
  color: #282828;
  text-transform: uppercase;
}

.carnival {
  content: url("../img/carnival.png");
  position: absolute;
  top: -50px;
  left: -50px;
  z-index: 2;
}

.application-processing {
  padding: 52px 0 32px 58px;
  background-color: rgba(255, 255, 255, 0.64);
  border-radius: 24px;
  border: 1px solid #fff;
  box-sizing: border-box;
  width: 709px;
}

.application-processing__description {
  max-width: 450px;
  padding: 39px 0 41px 0;
}

.application-processing-list__item:before {
  content: url("../img/check.svg");
  margin-right: 16px;
}

.application-processing-list__item {
  margin-bottom: 13px;
  font-weight: 600;
  font-size: 26px;
  line-height: 36px;
  padding-left: 10px;
}

.application-processing-list__item:first-child::after {
  content: url("../img/flag.png");
  position: relative;
  top: 5px;
  left: 12px;
}

.contact-buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.contact-buttons__get-consult-btn {
  padding: 27px 42px;
  color: white;
  background-color: #fa002c;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 18px;
}

.social-network-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 2px rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  width: 80px;
  height: 80px;
}

.social-network-btn__img {
  display: block;
}

.preview {
  z-index: 3;
  padding-top: 134px;
}

.play-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  max-width: min-content;
  padding: 51px 43px 21px;
  border-radius: 24px;
  border: solid 1px rgba(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.3);
}

.play-block__img {
  width: 80px;
  height: auto;
}

.play-block__desc {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  text-align: center;
}

.process-order {
  background-color: #f4f6f8;
}

.container__process-order {
  padding-top: 120px;
  padding-bottom: 100px;
}

.subtitle {
  font-family: "Montserrat", sans-serif;
  font-size: 50px;
  line-height: 69px;
  font-weight: 700;
}

.process-order__title {
  max-width: 620px;
}

.process-order__title-add {
  margin-top: 24px;
  font-size: 24px;
  font-weight: 500;
}

.process-order-list {
  padding-top: 70px;
  display: grid;
  grid-template-rows: repeat(2, min-content);
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.process-order-section {
  border-bottom: 2px dashed #d6a7af;
  border-right: 2px dashed #d6a7af;
  padding-left: 40px;
  padding-bottom: 41px;
}

.process-order-list__item {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-right: 60px;
}

.process-order-list__item:nth-child(4n) {
  border-right: none;
}

.process-order-list__item:nth-child(n + 5):nth-child(-n + 8) {
  padding-top: 51px;
}

.process-order-list__item:nth-child(n + 5):nth-child(-n + 8) {
  padding-top: 51px;
  padding-bottom: 24px;
}

.process-order-list__item:nth-child(4n + 1) {
  padding-left: 0px !important;
}

.process-order-section__number {
  font-weight: 700;
  font-size: 60px;
  line-height: 69px;
  color: #fa002c;
}

.process-order-section__number::after {
  content: " ";
  display: inline-block;
  position: absolute;
  top: 15%;
  width: 60%;
  border: 1px dashed #fa002c;
  margin-left: 34px;
}

.process-order-section__number--bot-section:after {
  top: 35%;
}

.process-order-section {
  position: relative;
}

.m-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
}

.s-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

.process-order-section__desc {
  max-width: 260px;
}

.process-order-list__item--accent {
  margin: -2px;
  background-color: #fff;
  border-radius: 22px;
  border: none !important;
}

.advantages {
  padding: 68px 0 100px;
  background-color: #fff;
}

.advantages-buying {
  position: relative;
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding: 84px 58px 0 58px;
  border-radius: 36px;
  border: 2px solid #d6a7af;
  background-image: url("../img/blue-audi-back.png");
  background-repeat: no-repeat;
  min-height: 840px;
  background-size: cover;
}

.application-form {
  padding: 45px 50px 70px 50px;
  max-width: 550px;
  background-color: #fff;
  border-radius: 22px;
  box-shadow: 0px 2px 50px rgba(35, 37, 38, 0.07);
}

.application-form__desc {
  margin-top: 24px;
  max-width: 410px;
}

.application-form__wrap {
  padding-top: 37px;
}

.getconsult {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.getconsult__input {
  width: 100%;
  padding: 25px 0 25px 23px;
  border-radius: 14px;
  border: 2px solid rgba(201, 201, 201, 0.4);
  font-size: 16px;
  font-weight: 800;
}

.getconsult__btn {
  max-width: 286px;
  padding: 24px 0;
  border: 0;
  box-shadow: 0px 12px 60px rgba(250, 0, 44, 0.4);
  color: white;
  background-color: #fa002c;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 16px;
}

.advantages-list {
  display: grid;
  grid-template-rows: repeat(4, min-content);
  grid-template-columns: 1fr 1fr;
  column-gap: 45px;
  row-gap: 50px;
  list-style-type: none;
}

.advantages-list__item {
  max-width: 310px;
}

.advantages-list__item::before {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin-bottom: 16px;
  padding-top: 5px;
  width: 60px;
  height: 60px;
  border: 3px solid rgba(250, 0, 44, 0.15);
}

.advantages-list__item--like::before {
  content: url("../img/like.svg");
}

.advantages-list__item--photo::before {
  content: url("../img/photo.svg");
}

.advantages-list__item--dollar::before {
  content: url("../img/dollar.svg");
}

.advantages-list__item--search::before {
  content: url("../img/search.svg");
}

.advantages-list__item--dir::before {
  content: url("../img/dir.svg");
}

.advantages-list__item--discount::before {
  content: url("../img/discount.svg");
}

.advantages-list__item--shield::before {
  content: url("../img/shield.svg");
}

.advantages-list__item--rub::before {
  content: url("../img/rub.svg");
}

.audi {
  position: absolute;
  top: 550px;
  left: -135px;
  z-index: 2;
  content: url("../img/audi.png");
}

.popular-korea {
  padding-top: 175px;
}

.popular-car-wrap {
  margin-top: 32px;
}

.popular-car-list {
  display: flex;
  gap: 28px;
}

.card-item {
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
  border-radius: 36px;
  box-shadow: 0px 2px 50px rgba(0, 0, 0, 0.12);
  max-width: 461px;
}

.card-item-photo {
  padding: 15px 15px 0;
}

.description-car__title {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 34px;
}

.description-car {
  margin: 0 7px 0;
  padding: 25px 25px;
  border-bottom: 1px solid #c1c1c1;
}

.description-car__list {
  margin-top: 16px;
}

.technical-parameters {
  margin-top: 10px;
}

.technical-parameters {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.technical-parameters__item-title {
  display: flex;
  box-sizing: border-box;
  align-items: flex-end;
  position: relative;
  width: 70%;
}

.technical-parameters__item-title::before {
  content: "";
  display: block;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0.2em;
  border-bottom: 1px dotted #d6dbe0;
}

.technical-parameters__item-value {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 600;
  width: 30%;
  display: flex;
  align-items: flex-end;
  word-break: break-word;
}

.car-price-wrap {
  display: flex;
  justify-content: space-between;
  padding: 0 7px 0 7px;
}

.car-price {
  padding: 15px 0 16px 32px;
}

.car-price__price {
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  font-weight: 500;
  line-height: 29px;
}

.car-price__desc {
  font-family: "Montserrat", sans-serif;
  margin-top: 3px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.car-price--selected {
  background: #fee5e9;
  border-radius: 25px 0 0 25px;
  margin-top: -1px;
  padding: 15px 0 16px 22px;
}

.car-price__price--selected {
  font-weight: 800;
  font-size: 24px;
  line-height: 29px;
  color: #fa002c;
}

.card-item__btn {
  padding: 24px 32px 0;
}

.btn-analog-wrap__analog-btn {
  display: block;
  padding: 24px 46px;
  box-shadow: 0px 12px 60px rgba(250, 0, 44, 0.4);
  text-align: center;
  color: white;
  background-color: #fa002c;
  border-radius: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 16px;
}

.calculate {
  background-color: #f4f6f8;
}

.container-calculate {
  padding-top: 100px;
  padding-bottom: 100px;
}

.calculate__title {
  max-width: 800px;
}

.calculate-list {
  margin-top: 42px;
  padding-bottom: 50px;
  border-bottom: 1px solid #c2c2c2;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 28px;
}

.calculate-list__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 48px 30px 36px 40px;
  max-width: 461px;
  background: #ffffff;
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.2);
  border-radius: 36px;
}

.calculate-list__item:hover {
  background: radial-gradient(
      99.46% 139.68% at 15.4% 16.97%,
      #5e6b9a 0%,
      rgba(94, 107, 154, 0) 100%
    ),
    url("../img/kia.png") no-repeat;
}

.calculate-list__item:hover * {
  color: #fff;
}

.calculate-list-item__subtitle {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
}

.calculate-list-item__description {
  margin-top: 16px;
}

.calculate-list-item__price {
  margin-top: 12px;
  font-weight: 600;
  font-size: 36px;
}

.calculate-list-item__price span {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 60px;
  line-height: 73px;
}

.calculate__price {
  margin-top: 24px;
  display: flex;
  justify-content: flex-end;
}

.calculate-final-cost {
  display: grid;
  grid-template-rows: repeat(2, min-content);
  grid-template-columns: repeat(2, max-content);
  column-gap: 53px;
  row-gap: 14px;
  justify-content: flex-end;
  justify-self: end;
  align-items: center;
  position: relative;
}

.calculate-final-cost__info {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 37px;
  margin-left: 50px;
}

.calculate-final-cost__info::before {
  content: "";
  position: absolute;
  left: 0;
  width: 23px;
  height: 6px;
  margin: 15px 0 15px 0;
  background: #fa002c;
  border-radius: 1px;
}

.calculate-final-cost__price {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 60px;
  line-height: 73px;
}

.calculate-final-cost__price--red {
  color: #fa002c;
}

.calculate-final-cost__price--small {
  font-weight: 600;
  font-size: 36px;
}

.remaining-parts {
  background-color: #fff;
  padding-top: 100px;
  padding-bottom: 110px;
}

.korea-advantages__wrap {
  padding-top: 46px;
  display: flex;
  gap: 28px;
}

.korea-advantages-list {
  display: grid;
  grid-template-rows: repeat(7, max-content);
  grid-template-columns: repeat(2, max-content);
  column-gap: 90px;
  list-style: none;
}

.korea-advantages-list__item {
  padding: 30px 0;
  border-bottom: 1px solid #c2c2c2;
  min-width: 420px;
  position: relative;
}

.korea-advantages-list__item:last-child {
  border-bottom: none;
}

.korea-advantages-list__text {
  padding-left: 40px;
}

.korea-advantages-list__text::before {
  content: "";
  position: absolute;
  left: 0;
  width: 23px;
  height: 6px;
  margin: 10px 25px 10px 0;
  background: #fa002c;
  border-radius: 1px;
}

.korea-advantages__card {
  background: #ffffff;
  box-shadow: 0px 2px 50px rgba(0, 0, 0, 0.12);
  border-radius: 36px;
  align-self: flex-start;
}

.korea-advantages-photo {
  padding: 15px 15px 0 15px;
}

.description-card {
  padding: 24px 32px 30px 32px;
}

.description-card__title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 34px;
}

.description-card__text {
  margin-top: 14px;
}

.scroll-buttons {
  display: flex;
  gap: 12px;
  padding: 24px 0 0 0;
}

.back-next-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border: 1px solid #d3d3d3;
  border-radius: 60px;
}

.back-next-btn:hover {
  border: 1px solid rgba(250, 0, 44, 1);
  filter: invert(10%) sepia(87%) saturate(6217%) hue-rotate(344deg)
    brightness(109%) contrast(111%);
}

.back-next-btn__img--rotate {
  transform: rotate(180deg);
}

.remaining-parts__video {
  padding-top: 96px;
}

.example-video__desc-video {
  margin-top: 16px;
}

.example-video__mp4 {
  margin-top: 44px;
  border-radius: 40px;
}

.remaining-parts__question-answer {
  padding-top: 110px;
}

.question-answer-list {
  padding-top: 14px;
  list-style: none;
}

.question-answer-content {
  padding: 36px 0 36px;
  border-bottom: 1px solid #c2c2c2;
  position: relative;
}

.question-answer-content__text {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  padding-left: 93px;
}

.question-answer-content__text::before {
  content: "";
  position: absolute;
  left: 0;
  width: 23px;
  height: 6px;
  margin: 15px 25px 15px 0;
  background: #fa002c;
  border-radius: 1px;
}

.garant {
  padding-top: 31px;
}

.garant__text {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 40px;
  padding-left: 93px;
  position: relative;
}

.garant__text:before {
  content: url(../img/checkbox.svg);
  position: absolute;
  display: flex;
  justify-content: center;
  padding-top: 5px;
  align-items: center;
  left: 0;
  border-radius: 10px;
  width: 60px;
  height: 55px;
  background: #fa002c;
  box-shadow: 0px 12px 40px rgba(250, 0, 44, 0.4);
}

.remaining-parts__consultation {
  margin-top: 142px;
}

.consultation {
  padding: 63px 500px 73px 65px;
  background: linear-gradient(-28.32deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%),
    url("../img/back-hyunday.png") no-repeat;
  height: 533px;
  border: 7px solid #e7e7e7;
  border-radius: 36px;
  position: relative;
}

.consultation__title span {
  color: #fa002c;
}

.consultation__text {
  margin-top: 24px;
  max-width: 610px;
}

.contact-buttons__get-consult-btn--less {
  font-size: 16px;
  border-radius: 14px;
  padding: 25px 54px;
}

.consultation__btn {
  margin-top: 50px;
}

.hyundai {
  position: absolute;
  top: -270px;
  left: 315px;
  z-index: 2;
  content: url(../img/hyundai.png);
}

.remaining-parts__contacts {
  padding-top: 117px;
}

.maps {
  padding-top: 32px;
  display: flex;
  gap: 28px;
}

.map {
  box-sizing: border-box;
  border: 7px solid rgba(250, 0, 44, 0.2);
  border-radius: 36px;
  padding: 25px 24px 44px;
}

.map-contain {
  position: relative;
}

.map__contact {
  padding: 34px 48px 0;
}
.map-connect {
  display: flex;
  justify-content: space-between;
}

.map-connect__office {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
}

.map-connect__phone {
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
}

.map-address {
  margin-top: 14px;
  display: flex;
  align-items: center;
  gap: 6px;
}

.map-address__text::before {
  content: "";
  background: url(../img/location-cursor.svg);
  background-size: 100% 100%;
  display: inline-block;
  width: 24px;
  height: 24px;
  position: relative;
  top: 5px;
}

.footer {
  background: #eeeeee;
  border-radius: 50px 50px 0 0;
  padding-top: 50px;
  padding-bottom: 72px;
}

.footer__wrap {
  display: flex;
  justify-content: space-between;
}

.copywrite {
  max-width: 430px;
}

.copywrite__text {
  margin-top: 16px;
}

.footer-menu {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: 1fr 1fr;
  row-gap: 16px;
  column-gap: 89px;
  list-style: none;
}

.footer-menu__link {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
}

.contact {
  width: 240px;
}

.address {
  margin-top: 16px;
}
