@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  color: #000;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

input[type=text] {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

a {
  font-family: "Montserrat", sans-serif;
  color: black;
  text-decoration: none;
}

li {
  list-style: none;
}

video {
  max-width: 100%;
  height: auto;
}

.container {
  padding: 0 140px;
  max-width: fit-content;
  margin: 0 auto;
}

.subtitle {
  font-size: 50px;
  line-height: 69px;
  font-weight: 700;
}

@media (max-width: 620px) {
  .subtitle {
    font-size: 24px;
    line-height: 34px;
    font-weight: 700;
  }
}
.nowrap {
  white-space: nowrap;
}

@media (max-width: 1450px) {
  .container {
    padding: 0 100px;
  }
}
@media (max-width: 800px) {
  .container {
    padding: 0 70px;
  }
}
@media (max-width: 620px) {
  .container {
    padding: 0 16px;
  }
}
.m-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
}

.small-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

.intro {
  background: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%), url("../../../img/back-top.png") no-repeat;
  background-repeat: no-repeat;
  min-height: 840px;
  background-size: cover;
  overflow: hidden;
}
.intro__content {
  position: relative;
  display: flex;
  justify-content: flex-start;
  gap: 73px;
  padding-top: 61px;
}

@media (max-width: 620px) {
  .intro {
    min-height: 630px;
  }
}
@media (max-width: 768px) {
  .intro__content {
    padding-top: 31px;
  }
}
@media (max-width: 620px) {
  .header {
    margin-top: 12px;
  }
  .intro__content {
    padding-top: 25px;
  }
}
.intro-title {
  font-size: 70px;
  line-height: 90px;
  font-weight: 800;
  color: #282828;
  text-transform: uppercase;
}

.intro-title::before {
  content: "Автомобили под заказ";
}

@media (max-width: 768px) {
  .intro-title {
    line-height: 56px;
  }
  .intro-title::before {
    content: "Авто\aпод заказ";
    white-space: pre;
    font-size: 60px;
  }
}
@media (max-width: 620px) {
  .intro-title {
    line-height: 56px;
  }
  .intro-title::before {
    font-size: 46px;
  }
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.menu-list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 48px;
  list-style: none;
}

@media (max-width: 1200px) {
  .menu-list {
    gap: 28px;
  }
}
.menu__list-link {
  font-size: medium;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}

.phone-btn {
  color: white;
  background-color: #fa002c;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 18px;
  padding: 15px 28px;
  white-space: nowrap;
}
.phone-btn__img {
  width: 20px;
  margin-right: 6px;
}

@media (max-width: 1200px) {
  .header__btn {
    display: none;
  }
}
.carnival {
  content: url("../../../img/carnival.png");
  position: absolute;
  overflow: hidden;
  top: 230px;
  left: 540px;
  z-index: 2;
}

@media (max-width: 1200px) {
  .carnival {
    display: none;
  }
}
.application-processing {
  padding: 52px 58px 32px 58px;
  background-color: rgba(255, 255, 255, 0.64);
  border-radius: 24px;
  border: 1px solid #fff;
  box-sizing: border-box;
  max-width: 709px;
}
.application-processing__description {
  padding: 39px 0 41px 0;
}

@media (max-width: 768px) {
  .application-processing {
    padding: 32px 38px 22px 38px;
  }
  .application-processing__description {
    padding: 30px 0 30px 0;
  }
}
@media (max-width: 620px) {
  .application-processing {
    all: unset;
  }
}
.application-processing-list__item {
  margin-bottom: 13px;
  font-weight: 600;
  font-size: 26px;
  line-height: 36px;
  padding-left: 10px;
}
.application-processing-list__item:before {
  content: url("../../../img/check.svg");
  margin-right: 16px;
}
.application-processing-list__item:first-child::after {
  content: url("../../../img/flag.png");
  position: relative;
  top: 5px;
  left: 12px;
}

@media (max-width: 620px) {
  .application-processing-list__item {
    margin-bottom: 0;
    font-size: 18px;
  }
}
.contact-buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}
.contact-buttons__get-consult-btn {
  padding: 27px 42px;
  color: white;
  background-color: #fa002c;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 18px;
}
.contact-buttons__wrap {
  display: flex;
  gap: 10px;
}

@media (max-width: 800px) {
  .contact-buttons {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (max-width: 620px) {
  .contact-buttons__get-consult-btn {
    padding: 23px 50px;
  }
}
.social-network-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 2px rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  width: 80px;
  height: 80px;
}
.social-network-btn__img {
  display: block;
}

@media (max-width: 620px) {
  .social-network-btn {
    width: 72px;
    height: 72px;
    background: rgba(255, 255, 255, 0.3);
    border: 2px solid #ffffff;
  }
}
.preview {
  z-index: 3;
  padding-top: 134px;
}

@media (max-width: 1024px) {
  .preview {
    display: none;
  }
}
.play-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  max-width: min-content;
  padding: 51px 43px 21px;
  border-radius: 24px;
  border: solid 1px rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.3);
}
.play-block__img {
  width: 80px;
  height: auto;
}
.play-block__desc {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  text-align: center;
}

.header__menu-burger {
  position: relative;
  z-index: 50;
  width: 40px;
  height: 35px;
  display: none;
  align-items: center;
  justify-content: flex-end;
}

.header__menu-burger span,
.header__menu-burger:after,
.header__menu-burger:before {
  height: 5px;
  width: 100%;
  position: absolute;
  background: #fa002c;
  margin: 0 auto;
  transform: scale(1);
  transition: all 0.3s ease 0s;
}

.header__menu-burger:after,
.header__menu-burger:before {
  content: "";
}

.header__menu-burger:after {
  bottom: 0;
}

.header__menu-burger:before {
  top: 0;
}

.header__menu-burger--active span {
  transform: scale(0);
}

.header__menu-burger--active::before {
  top: 50%;
  transform: rotate(-45deg) translate(0, -50%);
}

.header__menu-burger--active::after {
  bottom: 50%;
  transform: rotate(45deg) translate(0, 50%);
}

@media (max-width: 1024px) {
  .menu {
    display: none;
  }
  .header__menu-burger {
    display: flex;
  }
}
.advantages {
  padding: 68px 0 100px;
  background-color: #fff;
}

@media (max-width: 620px) {
  .advantages {
    padding: 68px 0 86px;
  }
}
.advantages-buying {
  position: relative;
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 40px;
  padding: 84px 58px 84px 58px;
  border-radius: 36px;
  border: 2px solid #d6a7af;
  background-image: url("../../../img/blue-audi-back.png");
  background-repeat: no-repeat;
  min-height: 840px;
  background-size: cover;
}

@media (max-width: 1450px) {
  .advantages-buying {
    padding: 44px 58px 44px 58px;
  }
  .advantages-list__item > .m-text {
    font-size: 14px;
  }
}
@media (max-width: 996px) {
  .advantages-buying {
    padding: 0;
    flex-direction: column;
    align-items: center;
    border: none;
    background-image: none;
  }
  .advantages-list__item > .m-text {
    font-size: 16px;
  }
}
.application-form {
  padding: 45px 50px 70px 50px;
  max-width: 550px;
  background-color: #fff;
  border-radius: 22px;
  box-shadow: 0px 2px 50px rgba(35, 37, 38, 0.07);
}
.application-form__desc {
  margin-top: 24px;
  max-width: 410px;
}
.application-form__wrap {
  margin-top: 37px;
}

@media (max-width: 1260px) {
  .application-form {
    padding: 30px 40px 30px 40px;
    max-width: 401px;
  }
  .application-form__title {
    font-size: 40px;
    line-height: 35px;
    font-weight: 700;
  }
  .application-form__title__desc {
    font-size: 14px;
    line-height: 20px;
  }
}
@media (max-width: 996px) {
  .application-form {
    max-width: 600px;
  }
  .application-form__wrap {
    background: linear-gradient(180deg, #ffffff 50%, rgba(255, 255, 255, 0) 100%), url("../../../img/audi-back-mobile.png");
    background-size: 100% 100%;
    padding-bottom: 300px;
  }
}
@media (max-width: 620px) {
  .application-form {
    box-shadow: none;
    padding: 0;
    max-width: 100%;
  }
  .application-form__title {
    font-size: 24px;
    line-height: 34px;
  }
  .application-form__desc {
    margin-top: 14px;
    font-size: 14px;
  }
  .application-form__wrap {
    padding-bottom: 250px;
  }
}
.getconsult {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.getconsult__input {
  width: 100%;
  padding: 25px 0 25px 23px;
  border-radius: 14px;
  border: 2px solid rgba(201, 201, 201, 0.4);
  font-size: 16px;
  font-weight: 800;
}
.getconsult__btn {
  max-width: 286px;
  padding: 24px 0;
  border: 0;
  box-shadow: 0px 12px 60px rgba(250, 0, 44, 0.4);
  color: white;
  background-color: #fa002c;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 16px;
}

@media (max-width: 996px) {
  .getconsult__input {
    max-width: 420px;
  }
}
@media (max-width: 620px) {
  .getconsult__btn {
    max-width: 100%;
  }
}
.advantages-list {
  display: grid;
  grid-template-rows: repeat(4, min-content);
  grid-template-columns: 1fr 1fr;
  column-gap: 45px;
  row-gap: 50px;
  list-style-type: none;
  z-index: 5;
}
.advantages-list__item {
  max-width: 310px;
}
.advantages-list__item::before {
  box-sizing: border-box;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin-bottom: 16px;
  min-width: 60px;
  height: 60px;
  border: 3px solid rgba(250, 0, 44, 0.15);
}
.advantages-list__item--like::before {
  content: url("../../../img/like.svg");
}
.advantages-list__item--photo::before {
  content: url("../../../img/photo.svg");
}
.advantages-list__item--dollar::before {
  content: url("../../../img/dollar.svg");
}
.advantages-list__item--search::before {
  content: url("../../../img/search.svg");
}
.advantages-list__item--dir::before {
  content: url("../../../img/dir.svg");
}
.advantages-list__item--discount::before {
  content: url("../../../img/discount.svg");
}
.advantages-list__item--shield::before {
  content: url("../../../img/shield.svg");
}
.advantages-list__item--rub::before {
  content: url("../../../img/rub.svg");
}

@media (max-width: 1450px) {
  .advantages-list {
    row-gap: 20px;
  }
}
@media (max-width: 1260px) {
  .advantages-list {
    grid-template-rows: repeat(8, max-content);
    grid-template-columns: 1fr;
  }
  .advantages-list__item {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .advantages-list__item::before {
    margin-bottom: 0;
  }
}
@media (max-width: 996px) {
  .advantages-list {
    order: -2;
    grid-template-rows: repeat(4, max-content);
    grid-template-columns: 1fr 1fr;
  }
  .advantages-list__item {
    padding: 20px;
    background: #ffffff;
    box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.12);
    border-radius: 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    max-width: 330px;
  }
}
@media (max-width: 768px) {
  .advantages-list {
    grid-template-rows: repeat(8, max-content);
    grid-template-columns: 1fr;
  }
}
.audi {
  position: absolute;
  top: 550px;
  left: -135px;
  z-index: 2;
  content: url("../../../img/audi.png");
}

@media (max-width: 1500px) {
  .audi {
    display: none;
  }
}
.popular-korea {
  padding-top: 175px;
}

@media (max-width: 660px) {
  .popular-korea {
    padding-top: 70px;
  }
}
.popular-car-wrap {
  margin-top: 32px;
}

@media (max-width: 660px) {
  .popular-car-wrap {
    margin-top: 20px;
  }
}
.popular-car-list {
  display: flex;
  justify-content: center;
  gap: 28px;
}

@media (max-width: 1450px) {
  .popular-car-list {
    flex-wrap: wrap;
  }
}
.card-item {
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
  border-radius: 36px;
  box-shadow: 0px 2px 50px rgba(0, 0, 0, 0.12);
  max-width: 461px;
}
.card-item__btn {
  padding: 24px 32px 0;
}

@media (max-width: 620px) {
  .card-item {
    padding-bottom: 16px;
    max-width: 308px;
  }
  .card-item__btn {
    padding: 16px 16px 0;
  }
}
.card-item-photo {
  padding: 15px 15px 0;
}

@media (max-width: 620px) {
  .popular-car-list {
    padding: 6px 6px 0;
  }
}
@media (max-width: 620px) {
  .card-photo-wrap__img {
    width: 100%;
  }
}
.description-car {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0 7px 0;
  padding: 25px;
  border-bottom: 1px solid #c1c1c1;
}
.description-car__title {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 34px;
}

@media (max-width: 620px) {
  .description-car {
    margin: 0;
    padding: 14px 16px 20px;
  }
  .description-car__title {
    font-size: 20px;
    line-height: 30px;
  }
}
.technical-parameters {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
.technical-parameters__item-title {
  display: flex;
  box-sizing: border-box;
  align-items: flex-end;
  position: relative;
  width: 70%;
}
.technical-parameters__item-title::before {
  content: "";
  display: block;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0.2em;
  border-bottom: 1px dotted #d6dbe0;
}
.technical-parameters__item-value {
  font-size: 16px;
  font-weight: 600;
  width: 30%;
  display: flex;
  align-items: flex-end;
  word-break: break-word;
}

@media (max-width: 620px) {
  .technical-parameters {
    justify-content: space-between;
  }
  .technical-parameters__item-title {
    width: fit-content;
    flex-grow: 1;
  }
  .technical-parameters__item-value {
    width: fit-content;
  }
}
.car-price-wrap {
  display: flex;
  justify-content: space-between;
  padding: 0 7px 0 7px;
}

@media (max-width: 620px) {
  .car-price-wrap {
    flex-wrap: wrap;
    padding: 0;
  }
}
.car-price {
  padding: 15px 0 16px 32px;
}
.car-price__price {
  font-size: 25px;
  font-weight: 500;
  line-height: 29px;
}
.car-price__desc {
  margin-top: 3px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}
.car-price--selected {
  background: #fee5e9;
  border-radius: 25px 0 0 25px;
  margin-top: -1px;
  padding: 15px 0 16px 22px;
}
.car-price__price--selected {
  font-weight: 800;
  font-size: 24px;
  line-height: 29px;
  color: #fa002c;
}

@media (max-width: 620px) {
  .car-price {
    padding: 24px 0 16px 16px;
  }
  .car-price__desc {
    margin-top: 5px;
    font-size: 14px;
  }
  .car-price--selected {
    margin-top: 0;
    border-radius: 0 25px 25px 0;
    padding: 16px 21px 16px 16px;
  }
}
.btn-analog-wrap__analog-btn {
  display: block;
  padding: 24px 46px;
  box-shadow: 0px 12px 60px rgba(250, 0, 44, 0.4);
  text-align: center;
  color: white;
  background-color: #fa002c;
  border-radius: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 16px;
}

@media (max-width: 620px) {
  .btn-analog-wrap__analog-btn {
    padding: 15px 40px;
  }
}
.container__process-order {
  padding-top: 120px;
  padding-bottom: 100px;
}

@media (max-width: 620px) {
  .container__process-order {
    padding-top: 60px;
    padding-bottom: 40px;
  }
}
.process-order {
  background-color: #f4f6f8;
}
.process-order__title {
  max-width: 620px;
}
.process-order__title-add {
  margin-top: 24px;
  font-size: 24px;
  font-weight: 500;
}

.process-order-list {
  padding-top: 70px;
  display: grid;
  grid-template-rows: repeat(2, min-content);
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.process-order-list__item {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.process-order-list__item--accent {
  margin: -2px;
  background-color: #fff;
  border-radius: 22px;
  border: none !important;
}
.process-order-list__item:nth-child(4n) {
  border-right: none;
}
.process-order-list__item:nth-child(n+5):nth-child(-n+8) {
  padding-top: 51px;
}
.process-order-list__item:nth-child(n+5):nth-child(-n+8) {
  padding-top: 51px;
  padding-bottom: 24px;
}
.process-order-list__item:nth-child(4n+1) {
  padding-left: 0px !important;
}

@media (max-width: 620px) {
  .process-order__title-add {
    display: block;
    margin-top: 14px;
    font-size: 14px;
  }
}
.process-order-section {
  border-bottom: 2px dashed #d6a7af;
  border-right: 2px dashed #d6a7af;
  padding-left: 40px;
  padding-bottom: 41px;
  position: relative;
}
.process-order-section__number {
  font-weight: 700;
  font-size: 60px;
  line-height: 69px;
  color: #fa002c;
}
.process-order-section__number::after {
  content: " ";
  display: inline-block;
  position: absolute;
  top: 15%;
  width: 50%;
  border: 1px dashed #fa002c;
  margin-left: 34px;
}
.process-order-section__desc {
  max-width: 260px;
}

.process-order-section:nth-child(n+5):nth-child(-n+8) .process-order-section__number:after {
  top: 35%;
}

@media (max-width: 1200px) {
  .process-order-section__number::after {
    top: 13%;
  }
  .process-order-section__number:nth-child(n+5):nth-child(-n+8):after {
    top: 45%;
  }
  .process-order-section__desc {
    max-width: 230px;
  }
  .process-order-section:nth-child(n+5):nth-child(-n+8) .process-order-section__number:after {
    top: 30%;
  }
}
@media (max-width: 1200px) {
  .process-order-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .process-order-list__item:nth-child(3n) {
    border-right: none;
  }
  .process-order-list__item:nth-child(4n) {
    border-right: 2px dashed #d6a7af;
  }
  .process-order-list__item:nth-child(n+4):nth-child(-n+8) {
    padding-top: 51px;
  }
  .process-order-list__item:nth-child(n+4):nth-child(-n+8) {
    padding-top: 51px;
    padding-bottom: 24px;
  }
  .process-order-list__item:nth-child(4n+1) {
    padding-left: 40px !important;
  }
  .process-order-list__item:nth-child(3n+1) {
    padding-left: 0px !important;
  }
  .process-order-section:nth-child(n+5):nth-child(-n+6) .process-order-section__number:after {
    top: 35%;
  }
  .process-order-section:nth-child(4) .process-order-section__number:after {
    top: 35%;
  }
}
@media (max-width: 996px) {
  .process-order-list {
    grid-template-columns: 1fr 1fr;
  }
  .process-order-list__item:nth-child(2n) {
    border-right: none;
  }
  .process-order-list__item:nth-child(3) {
    border-right: 2px dashed #d6a7af;
  }
  .process-order-list__item:nth-child(4) {
    padding-left: 40px !important;
  }
  .process-order-list__item:nth-child(1) {
    padding-top: 0 !important;
  }
  .process-order-list__item:nth-child(odd) {
    padding-left: 0;
    padding-top: 51px;
    padding-bottom: 24px;
  }
  .process-order-list__item:nth-child(5) {
    padding-left: 0 !important;
  }
  .process-order-section:nth-child(n+5):nth-child(-n+6) .process-order-section__number:after {
    top: 35%;
  }
  .process-order-section:nth-child(1) .process-order-section__number:after {
    top: 20%;
  }
  .process-order-section:nth-child(2) .process-order-section__number:after {
    top: 21%;
  }
  .process-order-section:nth-child(3) .process-order-section__number:after {
    top: 30%;
  }
  .process-order-section:nth-child(4) .process-order-section__number:after {
    top: 30%;
  }
}
@media (max-width: 620px) {
  .process-order-list {
    padding-top: 28px;
    grid-template-columns: 1fr;
    gap: 24px;
    position: relative;
    left: 20px;
  }
  .process-order-list__item {
    padding: 0 !important;
    flex-direction: row;
    align-items: center;
    gap: 20px;
  }
  .process-order-list__item:nth-child(3) {
    border-right: none;
  }
  .process-order-list__item:nth-child(4) {
    padding: 0 !important;
  }
  .process-order-list__item--accent {
    display: none;
  }
}
@media (max-width: 620px) {
  .process-order-section {
    padding: 0;
    border-bottom: none;
    border-right: none;
  }
  .process-order-section__number {
    width: 42px;
  }
  .process-order-section__number::before {
    content: "";
    background-color: #ff0000;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    float: left;
    position: relative;
    top: 38px;
    right: 20px;
  }
  .process-order-section__number::after {
    display: none;
  }
  .process-order-section__desc {
    max-width: 280px;
  }
}
.container-calculate {
  padding-top: 100px;
  padding-bottom: 100px;
}

@media (max-width: 620px) {
  .container-calculate {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
.calculate {
  background-color: #f4f6f8;
}
.calculate__title {
  max-width: 800px;
}
.calculate__price {
  margin-top: 24px;
  display: flex;
  justify-content: flex-end;
}

.calculate-list {
  margin-top: 42px;
  padding-bottom: 50px;
  border-bottom: 1px solid #c2c2c2;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 28px;
}
.calculate-list__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 48px 30px 36px 40px;
  max-width: 461px;
  background: #ffffff;
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.2);
  border-radius: 36px;
}
.calculate-list__item:hover {
  background: radial-gradient(99.46% 139.68% at 15.4% 16.97%, #5e6b9a 0%, rgba(94, 107, 154, 0) 100%), url("../../../img/kia.png") no-repeat;
}
.calculate-list__item:hover * {
  color: #fff;
}

@media (max-width: 1260px) {
  .calculate-list {
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 996px) {
  .calculate-list {
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }
}
@media (max-width: 620px) {
  .calculate-list {
    grid-template-rows: auto;
  }
  .calculate-list__item {
    padding: 28px 20px;
    max-width: 330px;
    justify-content: start;
    gap: 30px;
  }
}
.calculate-list-item__subtitle {
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
}
.calculate-list-item__desc {
  margin-top: 16px;
}
.calculate-list-item__price {
  margin-top: 12px;
  font-weight: 600;
  font-size: 36px;
}
.calculate-list-item__price span {
  font-weight: 600;
  font-size: 60px;
  line-height: 73px;
}

@media (max-width: 620px) {
  .calculate-list-item__subtitle {
    font-size: 20px;
    line-height: 30px;
  }
  .calculate-list-item__desc {
    margin-top: 12px;
  }
  .calculate-list-item__price {
    margin-top: 0;
  }
}
.calculate-final-cost {
  display: grid;
  grid-template-rows: repeat(2, min-content);
  grid-template-columns: repeat(2, max-content);
  column-gap: 53px;
  row-gap: 14px;
  justify-content: flex-end;
  justify-self: end;
  align-items: center;
  position: relative;
}
.calculate-final-cost__info {
  font-weight: 400;
  font-size: 30px;
  line-height: 37px;
  margin-left: 50px;
}
.calculate-final-cost__info::before {
  content: "";
  position: absolute;
  left: 0;
  width: 23px;
  height: 6px;
  margin: 15px 0 15px 0;
  background: #fa002c;
  border-radius: 1px;
}
.calculate-final-cost__price {
  font-weight: 600;
  font-size: 60px;
  line-height: 73px;
}
.calculate-final-cost__price--red {
  color: #fa002c;
}
.calculate-final-cost__small-text {
  font-weight: 600;
  font-size: 36px;
}

@media (max-width: 1260px) {
  .calculate-final-cost {
    grid-template-rows: repeat(4, min-content);
    grid-template-columns: repeat(1, max-content);
    row-gap: 14px;
  }
  .calculate-final-cost__info {
    margin: 0;
  }
  .calculate-final-cost__info::before {
    display: none;
    margin: 0;
  }
  .calculate-final-cost p:nth-child(1) {
    grid-row: 2;
  }
  .calculate-final-cost p:nth-child(2) {
    grid-row: 1;
  }
  .calculate-final-cost p:nth-child(3) {
    grid-row: 4;
  }
  .calculate-final-cost p:nth-child(4) {
    grid-row: 3;
  }
}
@media (max-width: 620px) {
  .calculate-final-cost__info {
    font-size: 16px;
    line-height: 22px;
  }
  .calculate-final-cost__price {
    font-size: 46px;
    line-height: 56px;
  }
  .calculate-final-cost__small-text {
    font-size: 24px;
    line-height: 29px;
  }
}
.remaining-parts {
  background-color: #fff;
  padding-top: 100px;
  padding-bottom: 110px;
}
.remaining-parts__video {
  padding-top: 96px;
}
.remaining-parts__consultation {
  padding-top: 142px;
}
.remaining-parts__question-answer {
  padding-top: 110px;
}
.remaining-parts__contacts {
  padding-top: 117px;
}

@media (max-width: 992px) {
  .remaining-parts {
    padding-top: 60px;
    padding-bottom: 78px;
  }
}
@media (max-width: 620px) {
  .remaining-parts__video {
    padding-top: 40px;
  }
  .remaining-parts__question-answer {
    padding-top: 60px;
  }
  .remaining-parts__consultation {
    padding-top: 63px;
  }
  .remaining-parts__contacts {
    padding-top: 40px;
  }
}
.korea-advantages__wrap {
  padding-top: 46px;
  display: flex;
  justify-content: center;
  gap: 28px;
}

@media (max-width: 992px) {
  .korea-advantages__wrap {
    flex-wrap: wrap;
  }
}
.korea-advantages-list {
  display: grid;
  grid-template-rows: repeat(7, max-content);
  grid-template-columns: repeat(2, max-content);
  column-gap: 90px;
  list-style: none;
}
.korea-advantages-list__item {
  padding: 30px 0;
  border-bottom: 1px solid #c2c2c2;
  position: relative;
}
.korea-advantages-list__item:last-child {
  border-bottom: none;
}
.korea-advantages-list__text {
  padding-left: 40px;
}
.korea-advantages-list__text::before {
  content: "";
  position: absolute;
  left: 0;
  width: 23px;
  height: 6px;
  margin: 10px 25px 10px 0;
  background: #fa002c;
  border-radius: 1px;
}

@media (max-width: 1450px) {
  .korea-advantages-list {
    column-gap: 30px;
    grid-template-columns: repeat(2, minmax(300px, 1fr));
  }
}
@media (max-width: 1200px) {
  .korea-advantages-list {
    grid-template-columns: repeat(1, minmax(300px, 1fr));
  }
}
@media (max-width: 620px) {
  .korea-advantages-list {
    display: none;
  }
  .korea-advantages-list__wrap {
    padding-top: 24px;
  }
}
.korea-advantages__card {
  background: #ffffff;
  box-shadow: 0px 2px 50px rgba(0, 0, 0, 0.12);
  border-radius: 36px;
  align-self: flex-start;
  max-width: 460px;
}

@media (max-width: 620px) {
  .korea-advantages__card {
    border-radius: 24px;
    max-width: 300px;
  }
}
.korea-advantages-photo {
  padding: 15px 15px 0 15px;
}

@media (max-width: 620px) {
  .korea-advantages-photo {
    padding: 6px 6px 0 6px;
  }
  .korea-advantages-photo__img {
    width: 100%;
  }
}
.description-card {
  padding: 24px 32px 30px 32px;
}
.description-card__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 34px;
}
.description-card__text {
  margin-top: 14px;
}

@media (max-width: 620px) {
  .description-card {
    padding: 20px 16px 24px;
  }
  .description-card__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
  }
  .description-card__text {
    margin-top: 10px;
  }
}
.scroll-buttons {
  display: flex;
  gap: 12px;
  padding: 24px 0 0 0;
}

.back-next-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border: 1px solid #d3d3d3;
  border-radius: 60px;
}
.back-next-btn:hover {
  border: 1px solid rgb(250, 0, 44);
  filter: invert(10%) sepia(87%) saturate(6217%) hue-rotate(344deg) brightness(109%) contrast(111%);
}
.back-next-btn__img--rotate {
  transform: rotate(180deg);
}

.example-video__desc-video {
  margin-top: 16px;
}
.example-video__mp4 {
  margin-top: 44px;
  border-radius: 40px;
}

@media (max-width: 620px) {
  .example-video__desc-video {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
  }
  .example-video__mp4 {
    margin-top: 30px;
    border-radius: 24px;
  }
}
.question-answer-list {
  padding-top: 14px;
  list-style: none;
}

.question-answer-content {
  padding: 36px 0 36px;
  border-bottom: 1px solid #c2c2c2;
  position: relative;
}
.question-answer-content__text {
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  padding-left: 93px;
}
.question-answer-content__text::before {
  content: "";
  position: absolute;
  left: 0;
  width: 23px;
  height: 6px;
  margin: 15px 25px 15px 0;
  background: #fa002c;
  border-radius: 1px;
}

@media (max-width: 1200px) {
  .question-answer-content__text {
    font-size: 20px;
  }
}
@media (max-width: 620px) {
  .question-answer-content {
    padding: 24px 0 24px;
  }
  .question-answer-content__text {
    padding-left: 35px;
  }
}
.garant {
  padding-top: 31px;
}
.garant__text {
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 40px;
  padding-left: 93px;
  position: relative;
}
.garant__text:before {
  content: " ";
  background: #fa002c url(../../../img/checkbox.svg) no-repeat;
  background-size: 60%;
  background-position: 50% 50%;
  position: absolute;
  left: 0;
  border-radius: 10px;
  width: 60px;
  height: 60px;
  box-shadow: 0px 12px 40px rgba(250, 0, 44, 0.4);
}

@media (max-width: 1200px) {
  .garant__text {
    font-size: 20px;
  }
}
@media (max-width: 620px) {
  .garant__text {
    padding-left: 0;
  }
  .garant__text::before {
    display: block;
    position: relative;
    bottom: 10px;
    border-radius: 6px;
    width: 36px;
    height: 36px;
  }
}
.consultation {
  margin: 0 auto;
  padding: 63px 0 73px 65px;
  background: linear-gradient(-28.32deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%), url("../../../img/back-hyundai.png") no-repeat;
  height: 533px;
  border: 7px solid #e7e7e7;
  border-radius: 36px;
  position: relative;
  background-size: cover;
  max-width: 1450px;
  height: auto;
  overflow: hidden;
}
.consultation__title {
  max-width: 660px;
}
.consultation__title span {
  color: #fa002c;
}
.consultation__text {
  margin-top: 24px;
  max-width: 610px;
}
.consultation__btn {
  margin-top: 50px;
}

@media (max-width: 620px) {
  .consultation {
    all: unset;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .consultation__btn {
    background: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%), url("../../../img/hyundai-back-mobile.png.png") no-repeat;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background-size: cover;
    border-radius: 24px;
    min-height: 300px;
  }
}
.contact-buttons__get-consult-btn--less {
  font-size: 16px;
  border-radius: 14px;
  padding: 25px 54px;
}

.hyundai {
  position: absolute;
  top: 190px;
  left: 620px;
  z-index: 2;
  content: url(../../../img/hyundai.png);
}

@media (max-width: 1450px) {
  .hyundai {
    display: none;
  }
}
.maps {
  padding-top: 32px;
  display: flex;
  justify-content: center;
  gap: 28px;
}

@media (max-width: 1450px) {
  .maps {
    flex-wrap: wrap;
  }
}
@media (max-width: 620px) {
  .maps {
    padding-top: 20px;
    gap: 16px;
  }
}
.map {
  box-sizing: border-box;
  border: 7px solid rgba(250, 0, 44, 0.2);
  border-radius: 36px;
  padding: 25px 24px 44px;
}
.map__contact {
  padding-top: 34px;
}

@media (max-width: 620px) {
  .map {
    border-radius: 24px;
    padding: 5px 5px 17px 5px;
  }
  .map__contact {
    padding-top: 4px;
  }
}
.map-contain {
  position: relative;
}

.map-contain__frame {
  width: 660px;
  height: auto;
  aspect-ratio: 16/9;
}

@media (max-width: 996px) {
  .map-contain__frame {
    width: 560px;
  }
}
@media (max-width: 768px) {
  .map-contain__frame {
    width: 480px;
  }
}
@media (max-width: 576px) {
  .map-contain__frame {
    width: 380px;
  }
}
@media (max-width: 450px) {
  .map-contain__frame {
    width: 304px;
    height: 320px;
  }
}
.map-connect {
  display: flex;
  justify-content: space-between;
}
.map-connect__office {
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
}
.map-connect__phone {
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
}

@media (max-width: 996px) {
  .map-connect {
    flex-wrap: wrap;
  }
}
@media (max-width: 620px) {
  .map-connect__office {
    font-size: 20px;
    line-height: 30px;
  }
  .map-connect__phone {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
  }
}
.map-address {
  margin-top: 14px;
  display: flex;
  align-items: center;
  gap: 6px;
}
.map-address__text::before {
  content: "";
  background: url(../../../img/location-cursor.svg);
  background-size: 100% 100%;
  display: inline-block;
  width: 24px;
  height: 24px;
  position: relative;
  top: 5px;
}

.footer {
  background: #eeeeee;
  border-radius: 50px 50px 0 0;
  padding-top: 50px;
  padding-bottom: 72px;
}
.footer__wrap {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

@media (max-width: 996px) {
  .footer__wrap {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 400px) {
  .footer__wrap {
    align-items: start;
  }
}
.copywrite {
  max-width: 430px;
  display: flex;
  flex-direction: column;
}
.copywrite__text {
  margin-top: 16px;
}
.copywrite__img {
  width: fit-content;
}

.footer-menu {
  display: grid;
  align-items: center;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: 190px 1fr;
  row-gap: 16px;
  column-gap: 89px;
  list-style: none;
}
.footer-menu__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
}

@media (max-width: 1450px) {
  .footer-menu {
    grid-template-rows: repeat(7, 1fr);
    grid-template-columns: max-content;
    column-gap: 60px;
  }
}
@media (max-width: 996px) {
  .footer-menu {
    order: 1;
  }
}
@media (max-width: 620px) {
  .footer-menu {
    row-gap: 16px;
  }
}
.contact {
  width: 100%;
}

.address {
  width: 240px;
  margin-top: 16px;
}

@media (max-width: 450px) {
  .footer__btn {
    display: block;
    text-align: center;
  }
}

/*# sourceMappingURL=style.css.map */
