.remaining-parts {
  background-color: #fff;
  padding-top: 100px;
  padding-bottom: 110px;
}
.remaining-parts__video {
  padding-top: 96px;
}
.remaining-parts__consultation {
  padding-top: 142px;
}
.remaining-parts__question-answer {
  padding-top: 110px;
}
.remaining-parts__contacts {
  padding-top: 117px;
}

.korea-advantages__wrap {
  padding-top: 46px;
  display: flex;
  justify-content: center;
  gap: 28px;
}

@media (max-width: 992px) {
  .korea-advantages__wrap {
    flex-wrap: wrap;
  }
}
.korea-advantages-list {
  display: grid;
  grid-template-rows: repeat(7, max-content);
  grid-template-columns: repeat(2, max-content);
  -moz-column-gap: 90px;
       column-gap: 90px;
  list-style: none;
}
.korea-advantages-list__item {
  padding: 30px 0;
  border-bottom: 1px solid #c2c2c2;
  position: relative;
}
.korea-advantages-list__item:last-child {
  border-bottom: none;
}
.korea-advantages-list__text {
  padding-left: 40px;
}
.korea-advantages-list__text::before {
  content: "";
  position: absolute;
  left: 0;
  width: 23px;
  height: 6px;
  margin: 10px 25px 10px 0;
  background: #fa002c;
  border-radius: 1px;
}

@media (max-width: 1450px) {
  .korea-advantages-list {
    -moz-column-gap: 30px;
         column-gap: 30px;
    grid-template-columns: repeat(2, minmax(300px, 1fr));
  }
}
@media (max-width: 1200px) {
  .korea-advantages-list {
    grid-template-columns: repeat(1, minmax(300px, 1fr));
  }
}
.korea-advantages__card {
  background: #ffffff;
  box-shadow: 0px 2px 50px rgba(0, 0, 0, 0.12);
  border-radius: 36px;
  align-self: flex-start;
  max-width: -moz-fit-content;
  max-width: fit-content;
}

.korea-advantages-photo {
  padding: 15px 15px 0 15px;
}

.description-card {
  padding: 24px 32px 30px 32px;
  max-width: 430px;
}
.description-card__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 34px;
}
.description-card__text {
  margin-top: 14px;
}

.scroll-buttons {
  display: flex;
  gap: 12px;
  padding: 24px 0 0 0;
}

.back-next-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border: 1px solid #d3d3d3;
  border-radius: 60px;
}
.back-next-btn:hover {
  border: 1px solid rgb(250, 0, 44);
  filter: invert(10%) sepia(87%) saturate(6217%) hue-rotate(344deg) brightness(109%) contrast(111%);
}
.back-next-btn__img--rotate {
  transform: rotate(180deg);
}

.example-video__desc-video {
  margin-top: 16px;
}

.example-video__mp4 {
  margin-top: 44px;
  border-radius: 40px;
}

.question-answer-list {
  padding-top: 14px;
  list-style: none;
}

.question-answer-content {
  padding: 36px 0 36px;
  border-bottom: 1px solid #c2c2c2;
  position: relative;
}
.question-answer-content__text {
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  padding-left: 93px;
}
.question-answer-content__text::before {
  content: "";
  position: absolute;
  left: 0;
  width: 23px;
  height: 6px;
  margin: 15px 25px 15px 0;
  background: #fa002c;
  border-radius: 1px;
}

@media (max-width: 1200px) {
  .question-answer-content__text {
    font-size: 21px;
  }
}
.garant {
  padding-top: 31px;
}
.garant__text {
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 40px;
  padding-left: 93px;
  position: relative;
}
.garant__text:before {
  content: url(../../../img/checkbox.svg);
  position: absolute;
  display: flex;
  justify-content: center;
  padding-top: 5px;
  align-items: center;
  left: 0;
  border-radius: 10px;
  width: 60px;
  height: 55px;
  background: #fa002c;
  box-shadow: 0px 12px 40px rgba(250, 0, 44, 0.4);
}

@media (max-width: 1200px) {
  .garant__text {
    font-size: 21px;
  }
}
.consultation {
  margin: 0 auto;
  padding: 63px 0 73px 65px;
  background: linear-gradient(-28.32deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%), url("../../../img/back-hyundai.png") no-repeat;
  height: 533px;
  border: 7px solid #e7e7e7;
  border-radius: 36px;
  position: relative;
  background-size: cover;
  max-width: 1450px;
  height: auto;
  overflow: hidden;
}
.consultation__title {
  max-width: 660px;
}
.consultation__title span {
  color: #fa002c;
}
.consultation__text {
  margin-top: 24px;
  max-width: 610px;
}
.consultation__btn {
  margin-top: 50px;
}

.contact-buttons__get-consult-btn--less {
  font-size: 16px;
  border-radius: 14px;
  padding: 25px 54px;
}

.hyundai {
  position: absolute;
  top: 190px;
  left: 620px;
  z-index: 2;
  content: url(../../../img/hyundai.png);
}

@media (max-width: 1450px) {
  .hyundai {
    display: none;
  }
}
.maps {
  padding-top: 32px;
  display: flex;
  justify-content: center;
  gap: 28px;
}

@media (max-width: 1450px) {
  .maps {
    flex-wrap: wrap;
  }
}
.map {
  box-sizing: border-box;
  border: 7px solid rgba(250, 0, 44, 0.2);
  border-radius: 36px;
  padding: 25px 24px 44px;
}
.map__contact {
  padding-top: 34px;
}

.map-contain {
  position: relative;
}

.map-contain__frame {
  width: 660px;
  height: auto;
  aspect-ratio: 16/9;
}

@media (max-width: 996px) {
  .map-contain__frame {
    width: 560px;
  }
}
@media (max-width: 768px) {
  .map-contain__frame {
    width: 480px;
  }
}
@media (max-width: 576px) {
  .map-contain__frame {
    width: 380px;
  }
}
.map-connect {
  display: flex;
  justify-content: space-between;
}
.map-connect__office {
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
}
.map-connect__phone {
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
}

@media (max-width: 996px) {
  .map-connect {
    flex-wrap: wrap;
  }
}
.map-address {
  margin-top: 14px;
  display: flex;
  align-items: center;
  gap: 6px;
}
.map-address__text::before {
  content: "";
  background: url(../../../img/location-cursor.svg);
  background-size: 100% 100%;
  display: inline-block;
  width: 24px;
  height: 24px;
  position: relative;
  top: 5px;
}/*# sourceMappingURL=remaining-parts.css.map */