.remaining-parts {
  background-color: #fff;
  padding-top: 100px;
  padding-bottom: 110px;
  &__video {
    padding-top: 96px;
  }
  &__consultation {
    padding-top: 142px;
  }
  &__question-answer {
    padding-top: 110px;
  }
  &__contacts {
    padding-top: 117px;
  }
}

@media (max-width: 992px) {
  .remaining-parts {
    padding-top: 60px;
    padding-bottom: 78px;
  }
}

@media (max-width: 620px) {
  .remaining-parts {
    &__video {
      padding-top: 40px;
    }
    &__question-answer {
      padding-top: 60px;
    }
    &__consultation {
      padding-top: 63px;
    }
    &__contacts {
      padding-top: 40px;
    }
  }
}

.korea-advantages {
  &__wrap {
    padding-top: 46px;
    display: flex;
    justify-content: center;
    gap: 28px;
  }
}

@media (max-width: 992px) {
  .korea-advantages {
    &__wrap {
      flex-wrap: wrap;
    }
  }
}

.korea-advantages-list {
  display: grid;
  grid-template-rows: repeat(7, max-content);
  grid-template-columns: repeat(2, max-content);
  column-gap: 90px;
  list-style: none;
  &__item {
    padding: 30px 0;
    border-bottom: 1px solid #c2c2c2;
    position: relative;
  }
  &__item:last-child {
    border-bottom: none;
  }
  &__text {
    padding-left: 40px;
  }
  &__text::before {
    content: "";
    position: absolute;
    left: 0;
    width: 23px;
    height: 6px;
    margin: 10px 25px 10px 0;
    background: #fa002c;
    border-radius: 1px;
  }
}

@media (max-width: 1450px) {
  .korea-advantages-list {
    column-gap: 30px;
    grid-template-columns: repeat(2, minmax(300px, 1fr));
  }
}

@media (max-width: 1200px) {
  .korea-advantages-list {
    grid-template-columns: repeat(1, minmax(300px, 1fr));
  }
}

@media (max-width: 620px) {
  .korea-advantages-list {
    display: none;
    &__wrap {
      padding-top: 24px;
    }
  }
}

.korea-advantages__card {
  background: #ffffff;
  box-shadow: 0px 2px 50px rgba(0, 0, 0, 0.12);
  border-radius: 36px;
  align-self: flex-start;
  max-width: 460px;
}

@media (max-width: 620px) {
  .korea-advantages__card {
    border-radius: 24px;
    max-width: 300px;
  }
}

.korea-advantages-photo {
  padding: 15px 15px 0 15px;
}

@media (max-width: 620px) {
  .korea-advantages-photo {
    padding: 6px 6px 0 6px;
    &__img {
      width: 100%;
    }
  }
}

.description-card {
  padding: 24px 32px 30px 32px;
  &__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 34px;
  }
  &__text {
    margin-top: 14px;
  }
}

@media (max-width: 620px) {
  .description-card {
    padding: 20px 16px 24px;
    &__title {
      font-weight: 700;
      font-size: 20px;
      line-height: 26px;
    }
    &__text {
      margin-top: 10px;
    }
  }
}

.scroll-buttons {
  display: flex;
  gap: 12px;
  padding: 24px 0 0 0;
}

.back-next-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border: 1px solid #d3d3d3;
  border-radius: 60px;
  &:hover {
    border: 1px solid rgba(250, 0, 44, 1);
    filter: invert(10%) sepia(87%) saturate(6217%) hue-rotate(344deg)
      brightness(109%) contrast(111%);
  }
  &__img--rotate {
    transform: rotate(180deg);
  }
}

.example-video {
  &__desc-video {
    margin-top: 16px;
  }
  &__mp4 {
    margin-top: 44px;
    border-radius: 40px;
  }
}

@media (max-width: 620px) {
  .example-video {
    &__desc-video {
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
    }
    &__mp4 {
      margin-top: 30px;
      border-radius: 24px;
    }
  }
}

.question-answer-list {
  padding-top: 14px;
  list-style: none;
}

.question-answer-content {
  padding: 36px 0 36px;
  border-bottom: 1px solid #c2c2c2;
  position: relative;
  &__text {
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    padding-left: 93px;
  }
  &__text::before {
    content: "";
    position: absolute;
    left: 0;
    width: 23px;
    height: 6px;
    margin: 15px 25px 15px 0;
    background: #fa002c;
    border-radius: 1px;
  }
}

@media (max-width: 1200px) {
  .question-answer-content {
    &__text {
      font-size: 20px;
    }
  }
}

@media (max-width: 620px) {
  .question-answer-content {
    padding: 24px 0 24px;
    &__text {
      padding-left: 35px;
    }
  }
}

.garant {
  padding-top: 31px;
  &__text {
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 40px;
    padding-left: 93px;
    position: relative;
  }
  &__text:before {
    content: " ";
    background: #fa002c url(../../../img/checkbox.svg) no-repeat;
    background-size: 60%;
    background-position: 50% 50%;
    position: absolute;
    left: 0;
    border-radius: 10px;
    width: 60px;
    height: 60px;
    box-shadow: 0px 12px 40px rgba(250, 0, 44, 0.4);
  }
}

@media (max-width: 1200px) {
  .garant {
    &__text {
      font-size: 20px;
    }
  }
}

@media (max-width: 620px) {
  .garant {
    &__text {
      padding-left: 0;
    }
    &__text::before {
      display: block;
      position: relative;
      bottom: 10px;
      border-radius: 6px;
      width: 36px;
      height: 36px;
    }
  }
}

.consultation {
  margin: 0 auto;
  padding: 63px 0 73px 65px;
  background: linear-gradient(
      -28.32deg,
      #ffffff 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    url("../../../img/back-hyundai.png") no-repeat;
  height: 533px;
  border: 7px solid #e7e7e7;
  border-radius: 36px;
  position: relative;
  background-size: cover;
  max-width: 1450px;
  height: auto;
  overflow: hidden;
  &__title {
    max-width: 660px;
  }
  &__title span {
    color: #fa002c;
  }
  &__text {
    margin-top: 24px;
    max-width: 610px;
  }
  &__btn {
    margin-top: 50px;
  }
}

@media (max-width: 620px) {
  .consultation {
    all: unset;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__btn {
      background: linear-gradient(
          180deg,
          #ffffff 0%,
          rgba(255, 255, 255, 0) 100%
        ),
        url("../../../img/hyundai-back-mobile.png.png") no-repeat;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      background-size: cover;
      border-radius: 24px;
      min-height: 300px;
    }
  }
}

.contact-buttons__get-consult-btn--less {
  font-size: 16px;
  border-radius: 14px;
  padding: 25px 54px;
}

.hyundai {
  position: absolute;
  top: 190px;
  left: 620px;
  z-index: 2;
  content: url(../../../img/hyundai.png);
}

@media (max-width: 1450px) {
  .hyundai {
    display: none;
  }
}

.maps {
  padding-top: 32px;
  display: flex;
  justify-content: center;
  gap: 28px;
}

@media (max-width: 1450px) {
  .maps {
    flex-wrap: wrap;
  }
}

@media (max-width: 620px) {
  .maps {
    padding-top: 20px;
    gap: 16px;
  }
}

.map {
  box-sizing: border-box;
  border: 7px solid rgba(250, 0, 44, 0.2);
  border-radius: 36px;
  padding: 25px 24px 44px;
  &__contact {
    padding-top: 34px;
  }
}

@media (max-width: 620px) {
  .map {
    border-radius: 24px;
    padding: 5px 5px 17px 5px;
    &__contact {
      padding-top: 4px;
    }
  }
}

.map-contain {
  position: relative;
}

.map-contain__frame {
  width: 660px;
  height: auto;
  aspect-ratio: 16/9;
}

@media (max-width: 996px) {
  .map-contain__frame {
    width: 560px;
  }
}

@media (max-width: 768px) {
  .map-contain__frame {
    width: 480px;
  }
}

@media (max-width: 576px) {
  .map-contain__frame {
    width: 380px;
  }
}
@media (max-width: 450px) {
  .map-contain__frame {
    width: 304px;
    height: 320px;
  }
}

.map-connect {
  display: flex;
  justify-content: space-between;
  &__office {
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
  }
  &__phone {
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
  }
}

@media (max-width: 996px) {
  .map-connect {
    flex-wrap: wrap;
  }
}

@media (max-width: 620px) {
  .map-connect {
    &__office {
      font-size: 20px;
      line-height: 30px;
    }
    &__phone {
      font-weight: 700;
      font-size: 20px;
      line-height: 30px;
    }
  }
}

.map-address {
  margin-top: 14px;
  display: flex;
  align-items: center;
  gap: 6px;
  &__text::before {
    content: "";
    background: url(../../../img/location-cursor.svg);
    background-size: 100% 100%;
    display: inline-block;
    width: 24px;
    height: 24px;
    position: relative;
    top: 5px;
  }
}
